{% extends "base.html.twig" %}

{% block title %}
	Liste des pilotes
{% endblock %}

{% block body %}
	<table class="table">
		{% for driver in drivers %}
			<tr>
				<td>{{ driver.GivenName }}</td>
				<td>{{ driver.FamilyName }}</td>
				<td>{{ driver.DateOfBirth }}</td>
				<td>{{ driver.Nationality }}</td>
				<td>{{ driver.url }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
